<h1>This is working!</h1>
<form action="/names" method="post">
  <input type="text" id="player_one" name="player_one">
  <input type="text" id="player_two" name="player_two">
  <input type="submit" value="Submit">
</form>
