<h1>It's <%= @player_one.name %> versus <%= @player_two.name %>! </h1>
<h3><%= @player_two.name %>: <%= @player_two.hit_points %> </h3>
<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>
